In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('population.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646 entries, 0 to 1645
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   zipcode  1646 non-null   int64
 1   Total    1646 non-null   int64
 2   -5       1646 non-null   int64
 3   5-9      1646 non-null   int64
 4   10-14    1646 non-null   int64
 5   15-19    1646 non-null   int64
 6   20-24    1646 non-null   int64
 7   25-29    1646 non-null   int64
 8   30-34    1646 non-null   int64
 9   35-39    1646 non-null   int64
 10  40-44    1646 non-null   int64
 11  45-49    1646 non-null   int64
 12  50-54    1646 non-null   int64
 13  55-59    1646 non-null   int64
 14  60-64    1646 non-null   int64
 15  65-69    1646 non-null   int64
 16  70-74    1646 non-null   int64
 17  75-79    1646 non-null   int64
 18  80-84    1646 non-null   int64
 19  85+      1646 non-null   int64
dtypes: int64(20)
memory usage: 257.3 KB

In [3]:
print("The number of rows in the dataset is", len(df))
print("The number of columns in the dataset is", len(df.columns))
print(df[:10].to_markdown())

The number of rows in the dataset is 1646
The number of columns in the dataset is 20
|    |   zipcode |   Total |   -5 |   5-9 |   10-14 |   15-19 |   20-24 |   25-29 |   30-34 |   35-39 |   40-44 |   45-49 |   50-54 |   55-59 |   60-64 |   65-69 |   70-74 |   75-79 |   80-84 |   85+ |
|---:|----------:|--------:|-----:|------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|--------:|------:|
|  0 |      6390 |      53 |    0 |     1 |       5 |       0 |       6 |       0 |       9 |      18 |       0 |      12 |       2 |       0 |       0 |       0 |       0 |       0 |       0 |     0 |
|  1 |     10001 |   27004 |  744 |   784 |     942 |    1035 |    2296 |    3806 |    3588 |    2524 |    1702 |    1903 |    1704 |    1225 |    1323 |     933 |     815 |     616 |     488 |   576 |
|  2 |     10002 |   76518 | 2142 |  3046 |    3198 |    2652 |    4528 |    6988 |    6278 |    5157 |    4962 |    4822 |    4410 |    6106 |    4548 |    4815 |    4748 |    2531 |    2793 |  2794 |
|  3 |     10003 |   53877 | 1440 |  1034 |     953 |    7013 |    6344 |    7100 |    6427 |    3221 |    2907 |    1988 |    2698 |    2350 |    2274 |    2793 |    1854 |    1646 |     779 |  1056 |
|  4 |     10004 |    4579 |  433 |   182 |     161 |     108 |     109 |     601 |     724 |     490 |     241 |     313 |     549 |     279 |     199 |     173 |       2 |      15 |       0 |     0 |
|  5 |     10005 |    8801 |  484 |   204 |     229 |      53 |     989 |    2604 |    1144 |     945 |     685 |     351 |     652 |     218 |      85 |      92 |      66 |       0 |       0 |     0 |
|  6 |     10006 |    3736 |  128 |    96 |      75 |     242 |     258 |     593 |     778 |     445 |     428 |     316 |     172 |      58 |      56 |       6 |      65 |       0 |       0 |    20 |
|  7 |     10007 |    7506 |  605 |   451 |     290 |     188 |     414 |     760 |    1074 |     750 |     505 |    1042 |     489 |     126 |     171 |     369 |     172 |       0 |      65 |    35 |
|  8 |     10009 |   58418 | 1896 |  1658 |    1835 |    1322 |    4892 |    7440 |    7784 |    3980 |    3624 |    2841 |    2963 |    4957 |    4078 |    2858 |    2368 |    1489 |    1256 |  1177 |
|  9 |     10010 |   32410 | 1422 |  1592 |     948 |    1921 |    2640 |    3364 |    3516 |    3145 |    1839 |    1874 |    1467 |    1247 |    1870 |    1694 |    1621 |     898 |     760 |   592 |