In [6]:
import numpy as np
import pandas as pd

In [7]:
# load data
data = pd.read_csv('data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2008 entries, 0 to 2007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2008 non-null   object
 1   Open       2008 non-null   float64
 2   High       2008 non-null   float64
 3   Low        2008 non-null   float64
 4   Close      2008 non-null   float64
 5   Adj Close  2008 non-null   float64
 6   Volume     2008 non-null   int64
 7   ticker     2008 non-null   object
dtypes: float64(5), int64(1), object(2)
memory usage: 125.6+ KB

In [8]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2023-08-28,180.089996,180.589996,178.550003,180.190002,179.272659,43820700,AAPL
1,2023-08-29,179.699997,184.899994,179.500000,184.119995,183.182617,53003900,AAPL
2,2023-08-30,184.940002,187.850006,184.740005,187.649994,186.694656,60813900,AAPL
3,2023-08-31,187.839996,189.119995,187.479996,187.869995,186.913544,60794500,AAPL
4,2023-09-01,189.490005,189.919998,188.279999,189.460007,188.495468,45732600,AAPL