In [38]:
import numpy as np
import pandas as pd
import re

In [39]:
# Read the data from the CSV file
df = pd.read_csv('child_care_regulated.csv')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15540 entries, 0 to 15539
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   facility_id           15540 non-null  int64
 1   program_type          15540 non-null  object
 2   facility_status       15540 non-null  object
 3   facility_name         15540 non-null  object
 4   city                  15540 non-null  object
 5   zip_code              15540 non-null  int64
 6   school_district_name  15492 non-null  object
 7   infant_capacity       15540 non-null  int64
 8   toddler_capacity      15540 non-null  int64
 9   preschool_capacity    15540 non-null  int64
 10  school_age_capacity   15540 non-null  int64
 11  children_capcity      15540 non-null  int64
 12  total_capacity        15540 non-null  int64
dtypes: int64(8), object(5)
memory usage: 1.5+ MB

In [36]:
df.loc[0]['sum']

14

In [9]:
re.split(' AND ', seq[0])

['12 children, ages 6 weeks to 12 years', '2 additional school-aged children']

In [3]:
df

,facility_id,program_type,region_code,county,facility_status,facility_name,city,state,zip_code,school_district_name,capacity_description,infant_capacity,toddler_capacity,preschool_capacity,school_age_capacity,total_capacity
0,14,GFDC,ARO,Albany,License,"Levine, Rosemarie",Albany,NY,12203,Albany,"12 children, ages 6 weeks to 12 years AND 2 ad...",0,0,0,2,14
1,5555,FDC,BRO,Chautauqua,Registration,"Matey, Sally",Jamestown,NY,14701,Jamestown,"6 children, ages 6 weeks to 12 years AND 2 add...",0,0,0,2,8
2,40414,DCC,YRO,Sullivan,License,Early Childhood Cooperative Experience,Harris,NY,12742,NaN,"24 Infants, 36 Toddlers, 38 Preschoolers",24,36,38,0,98
3,40542,DCC,YRO,Westchester,License,The New Rochelle Day Nursery,New Rochelle,NY,10801,New Rochelle,"38 Toddlers, 74 Preschoolers",0,38,74,0,112
4,44327,DCC,SRO,St. Lawrence,License,St. Lawrence County Community Development Program,Ogdensburg,NY,13669,Ogdensburg,17 Preschoolers,0,0,17,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15535,891027,DCC,ARO,Delaware,License,Healthy Kids Extended Day Program Inc.,Walton,NY,13856,Walton,19 Preschoolers and 40 School-Aged Children,0,0,19,40,59
15536,895173,SACC,NYCDOH,Staten Island,Registration,"United Activities Unlimited, Inc.",Staten Island,NY,10307,Richmond 31,51 School-Aged Children,0,0,0,51,51
15537,900037,DCC,YRO,Westchester,License,"Yellow Acorn Montessori, LLC",Scarsdale,NY,10583,Scarsdale,"33 Toddlers, 72 Preschoolers",0,33,72,0,105
15538,890593,GFDC,NYCDOH,Bronx,License,Jennifer Lara,Bronx,NY,10458,Bronx 10,"12 children, ages 6 weeks to 12 years AND 4 ad...",0,0,0,4,16
15539,909160,GFDC,NYCDOH,Queens,License,"Sanchez, Stephanie",Far Fockaway,NY,11691,Queens 27,"12 children, ages 6 weeks to 12 years AND 4 ad...",0,0,0,4,16